* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 10px;
  background: rgb(8, 80, 14);
  backdrop-filter: blur;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 35px;
  color: rgb(240, 255, 61);
  margin: 0 8rem;
  /* padding-left: 50px; */
  font-weight: 750;
  transition: 0.1s ease;
}

.logo:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.87), 0 0 20px rgb(0, 0, 0.87);
  transform: scale(1.1);
}

.navbar a {
  font-size: 20px;
  font-weight: 550;
  color: rgb(240, 255, 61);
  padding: 0.1rem;
  margin-right: 5.5rem;
  border-bottom: 3px solid transparent;
  transition: 0.35s ease;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}

.contact {
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  border: 2px solid transparent;
  border-radius: 12px;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 1.5px;
  transition: 0.3s ease;
}

.contact:hover {
  background-color: rgb(240, 255, 61);
  color: rgb(8, 80, 14);
  box-shadow: rgba(0, 0, 0, 0.87);
}

.home {
  width: 100%;
  min-height: 5vh;
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 0.5em;
  padding: 4rem 6% 0;
  transition: 0.9s ease;
}

.home__content__greetings {
  width: 130%;
  padding: 1rem;
  margin-left: 6rem;
}

.home__content__greetings h1 {
  font-size: 32px;
  line-height: 1.5;
}

.home__content__greetings h3 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
}

.home__content__greetings p {
  font-size: 17px;
  font-weight: 450;
  padding: 0.15rem 0.5px;
  text-align: justify;
}

.home span {
  padding: 0.5px;
  color: rgb(8, 80, 14);
  background-color: rgb(240, 255, 61);
}

.photo__content {
  width: 30%;
  margin: 6rem 18rem;
  /* padding: rem; */
}

.photo__content img {
  margin: 0.5rem 2rem;
  width: 110px;
  border-radius: 20%;
  border: 3px solid transparent;
  border-style: solid transparet;
  border-color: rgb(8, 80, 14);
}

.btn__box {
  display: flex;
  padding-left: 1.5rem;
  width: 100%;
  gap: 0.5rem;
}

.btn__cv {
  padding: 10px 1rem;
  background-color: rgba(0, 0, 0, 0.87);
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
  border-radius: 12px;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn__cv:hover {
  background-color: rgb(240, 255, 61);
  color: rgb(8, 80, 14);
  border: 2px solid transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(240, 255, 61);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.87);
  width: 10px;
}

.about {
  width: 50%;
  margin-left: 0rem;
  margin-bottom: 2rem; /* Kurangi dari 70rem */
  min-height: 20vh;
  /* background: rgb(8, 80, 14); */
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 1em;
  padding: 1rem 5% 0;
  transition: 0.9s ease;
}

.about__content {
  width: 150%;
  background-color: rgb(8, 80, 14);
  padding: 1rem;
  margin-left: 7rem;
  margin-bottom: 30px;
}

.about__content h2 {
  margin: 2px 2px;
  font-size: 28px;
  line-height: 1.5;
  color: rgb(240, 255, 61);
  text-align: center;
}

.about__content span {
  font-size: 28px;
  line-height: 1.5;
}

.about__content p {
  font-size: 17px;
  font-weight: 450;
  padding: 0.15rem 0.5px;
  text-align: justify;
  color: rgb(255, 255, 255);
}

.btn__box__read {
  padding: 2rem;
  padding-left: 0.2rem;
  width: 100%;
}

.btn__cv__read {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.87);
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
  border-radius: 12px;
  letter-spacing: 0.5px;
  font-weight: 750;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn__cv__read:hover {
  background-color: rgb(240, 255, 61);
  color: rgb(8, 80, 14);
  border: 2px solid transparent;
}

.about__content__more {
  width: 150%;
  padding: 1rem;
  margin-left: 28rem;
  margin-bottom: 1rem;
  border-color: rgba(0, 0, 0, 0.87);
  border-style: dashed;
  border-width: 2px;
}

.about__content__more a {
  margin: 3rem 3.5rem;
  padding: 1rem 2rem;
}

.contact__form {
  width: 30%;
  padding: 0.5rem;
  text-align: center;
  margin-left: 30rem;
  margin-bottom: 4rem; /* Kurangi dari 100rem */
}

.contact__form h2 {
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

.contact__form span {
  color: rgb(8, 80, 14);
  background-color: rgb(240, 255, 61);
}

.contact__form form {
  text-align: center;
  padding: 0.5em;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(240, 255, 61);
  border-color: rgba(0, 0, 0, 0.87);
}

.contact__form .input__box input,
.contact__form form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  border: transparent;
  border-radius: 0.5rem;
  resize: none;
}

.contact__me {
  padding: 0.5rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Responsive */
/* @media (max-width: 768px) {
  .about {
    padding: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
} */
