* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 10px;
  background: rgb(8, 80, 14);
  backdrop-filter: blur;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 35px;
  color: rgb(240, 255, 61);
  margin: 0 8rem;
  /* padding-left: 50px; */
  font-weight: 750;
  transition: 0.1s ease;
}

.logo:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.87), 0 0 20px rgb(0, 0, 0.87);
  transform: scale(1.1);
}

.navbar a {
  font-size: 20px;
  font-weight: 550;
  color: rgb(240, 255, 61);
  padding: 0.1rem;
  margin-right: 5.5rem;
  border-bottom: 3px solid transparent;
  transition: 0.35s ease;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}

.contact {
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  border: 2px solid transparent;
  border-radius: 12px;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 1.5px;
  transition: 0.3s ease;
}

.contact:hover {
  background-color: rgb(240, 255, 61);
  color: rgb(8, 80, 14);
  box-shadow: rgba(0, 0, 0, 0.87);
}

.home {
  width: 100%;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 1em;
  padding: 8rem 12% 0;
}

.home__content__greetings {
  width: 130%;
  padding: 1rem;
  margin-left: 45px;
}

.home__content__greetings h1 {
  font-size: 32px;
  line-height: 1.5;
}

.home__content__greetings h3 {
  font-size: 24px;
}

.home__content__greetings p {
  font-size: 17px;
  font-weight: 450;
  padding: 0.15rem 0.5px;
  text-align: justify;
}

.home span {
  padding: 0.5px;
  color: rgb(8, 80, 14);
  background-color: rgb(240, 255, 61);
}

.photo__content {
  width: 50%;
  margin: 0rem 18rem;
  /* padding: 0.5rem; */
}
.photo__content img {
  /* margin: 0.5rem 15rem; */
  width: 145px;
  border-radius: 20%;
  border: 3px solid transparent;
  border-style: outset;
  border-color: rgb(8, 80, 14);
}

.btn__box {
  display: flex;
  padding-left: 8px;
  width: 100%;
  gap: 0.5rem;
}

.btn__cv {
  padding: 10px 18px;
  background-color: rgba(0, 0, 0, 0.87);
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
  border-radius: 12px;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn__cv:hover {
  background-color: rgb(240, 255, 61);
  color: rgb(8, 80, 14);
  border: 2px solid transparent;
}

/* Responsive
@media (max-width: 768px) {
  .budgets {
    padding: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
} */
