* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Archivo", "Cutive", sans-serif; */
  text-decoration: none;
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  border-bottom: 2px solid rgb(8, 80, 14); /*This adds a line under the header*/
  backdrop-filter: blur(2px); /* Apply a blur effect to the background */
  backdrop-filter: blur;
  font-family: "Archivo", sans-serif;
  font-weight: 900;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.87);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 35px;
  color: rgb(240, 255, 61);
  margin: 0 8rem;
  /* padding-left: 50px; */
  font-weight: 750;
  transition: 0.1s ease;
}

.logo:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.87), 0 0 20px rgb(0, 0, 0.87);
  transform: scale(1.1);
}

.navbar a {
  font-size: 20px;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.87);
  padding: 0.5rem;
  margin-right: 10rem;
  transition: 0.35s ease;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(240, 255, 61);
  background-color: rgba(0, 0, 0, 0.87);
}

/* .contact {
  padding: 10px 10px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  border: 2px solid transparent;
  border-radius: 12px;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 1.5px;
  transition: 0.3s ease;
}

.contact:hover {
  background-color: rgb(240, 255, 61);
  color: rgb(8, 80, 14);
  box-shadow: rgba(0, 0, 0, 0.87);
} */

.home {
  width: 100%;
  min-height: 5vh;
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 0.5em;
  padding: 4rem 6% 0;
  transition: 0.9s ease;
}

.home__content__greetings {
  width: 130%;
  padding: 4rem;
  margin-left: 6rem;
}

.home__content__greetings h1 {
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  line-height: 1.5;
}

.home__content__greetings h3 {
  font-family: "Archivo", sans-serif;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.87);
}

.home__content__greetings p {
  font-family: "Cutive", serif;
  font-size: 16px;
  font-weight: 550;
  padding: 0.15rem 0.5px;
  text-align: justify;
  line-height: 1.5;
}

.home span {
  padding: 0.5px;
  color: rgb(8, 80, 14);
  background-color: rgb(240, 255, 61);
}

.photo__content {
  width: 30%;
  margin: 6rem 18rem;
  /* padding: rem; */
}

.photo__content img {
  margin: 0.5rem 2rem;
  width: 110px;
  border: 2px solid transparent;
  border-style: solid;
  border-color: rgb(8, 80, 14);
}

.btn__box {
  display: flex;
  padding-left: 1rem;
  width: 100%;
  gap: 0.5rem;
}

.btn__cv {
  font-family: "Archivo", sans-serif;
  padding: 6px 1rem;
  background-color: rgba(0, 0, 0, 0.87);
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn__cv:hover {
  background-color: rgb(240, 255, 61);
  color: rgb(8, 80, 14);
  border: 2px solid transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(240, 255, 61);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.87);
  width: 10px;
}

.about {
  width: 60%;
  margin-left: 0rem;
  margin-bottom: 2rem; /* Kurangi dari 70rem */
  min-height: 20vh;
  /* background: rgb(8, 80, 14); */
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: center;
  gap: 1em;
  padding: 1rem 5% 0;
  transition: 0.9s ease;
}

.about__content {
  width: 170%;
  background-color: rgb(8, 80, 14);
  background-image: url("/texture.png");
  background-blend-mode: multiply;
  padding: 1rem;
  margin-left: 7rem;
  margin-bottom: 30px;
}

.about__content h2 {
  margin: 2px 2px;
  font-family: "Archivo", sans-serif;
  font-size: 28px;
  line-height: 1.5;
  color: rgb(240, 255, 61);
  text-align: center;
}

.about__content span {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  font-size: 22px;
  font-family: "Cutive", serif;
  line-height: 1.5;
}

.about__content p {
  font-family: "Cutive", serif;
  font-size: 16px;
  font-weight: 450;
  line-height: 1.5;
  padding: 0.15rem 0.5px;
  text-align: justify;
  color: rgb(255, 255, 255);
}

.btn__box__read {
  padding: 1rem;
  padding-left: 0.2rem;
  width: 100%;
}

.btn__cv__read {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.87);
  color: rgb(255, 255, 255);
  font-family: "Archivo", sans-serif;
  border: 2px solid transparent;
  letter-spacing: 0.5px;
  font-weight: 750;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn__cv__read:hover {
  background-color: rgb(240, 255, 61);
  color: rgb(8, 80, 14);
  border: 2px solid transparent;
}

.about__content__more {
  width: 100%;
  margin-left: 29rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.cutout-paper {
  margin-left: 2.5rem;
  width: 250px; /* Adjust as needed */
  height: 12rem;
}

.more__link {
  width: 65%;
  padding: 0.5rem;
  margin-left: 3.5rem;
}

.about__content__more a {
  border-style: solid;
  border-width: 2px;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 1.2rem;
  font-size: 2rem; /* Adjust the size of the icons */
  color: rgba(0, 0, 0, 0.87); /* Set the color of the icons */
  transition: color 0.3s ease; /* Smooth transition on hover */
}

.about__content__more a:hover {
  color: rgb(8, 80, 14); /* Change color when hovering over the icons */
}

.contact__form {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  margin-left: 30rem;
  margin-bottom: 4rem; /* Kurangi dari 100rem */
}

.contact__form h2 {
  font-family: "Archivo", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
}

.contact__form span {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.87);
}

.contact__form form {
  text-align: center;
  padding: 0.5em;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(240, 255, 61);
  border-color: rgba(0, 0, 0, 0.87);
}

.contact__form .input__box input,
.contact__form form textarea {
  font-family: "Archivo", sans-serif;
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: transparent;
  resize: none;
}

.contact__me {
  padding: 0.5rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Responsive */
/* @media (max-width: 768px) {
  .about {
    padding: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
} */
